{# index.html #}
{% extends "base.html" %}
{% block body %}

    <!--Links to the login handler-->
    Login with <a href="login/tw">Twitter</a>.<br />
    Login with <a href="login/google">Google</a>.<br />
    Login with <a href="login/github">Github</a>.<br />
    test login <a href="login_test">test.<br />

<html xmlns="http://www.w3.org/1999/html">
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='app.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='normalize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
	</head>



	<div class = 'pane'>
		<div class = 'header'>
		<h1>MICROSALEMARKET</h1>

        </div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


		{% for i in items %}
    <div class = 'nameAndPrice'>
		<span class = 'name'><p>{{i.name}}</p></span>
            {% if i.image_name %}
        </br>
            <span class = 'image'><img src="{{url_for('static' , filename=i.image_name)}}" width=260></p></span>

             {% endif %}
		<span class = 'price'>


		<p>{{i.price}} </p>
	</span>
	</div>



	<div class = 'description'>
		<p>{{i.description}}</p>
	</div>



	<div class = "editdeletepane">

	</div>


		{% endfor %}




</div>
</div>





</html>
{% endblock %}