{# index.html #}
{% extends "base.html" %}
{% block body %}

{% with messages = get_flashed_messages() %}
      {% if messages %}
<div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
</div>
        {% endif %}
    {% endwith %}
<div class="jumbotron">
    <div class="container-fluid">
        <h1>Learn to Create Websites</h1>

        <p>In today's world internet is the most popular way of connecting with the people. At <a
                href="http://www.tutorialrepublic.com" target="_blank">tutorialrepublic.com</a> you will learn the
            essential of web development technologies along with real life practice example, so that you can create your
            own website to connect with the people around the world.</p>

        <p><a href="http://www.tutorialrepublic.com" target="_blank" class="btn btn-success btn-lg">Get started
            today</a></p>
    </div>
</div>
<!-- Items list -->
    {% for i in items %}
<div class="panel panel-default front-page">
    <div class="panel-heading">{{i.name}}</div>
    <div class="panel-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-3">Sellers Name:</label>
            <div class="col-xs-9">
                <p class="form-control-static">{{i.user_name}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3">Name:</label>
            <div class="col-xs-9">
                <p class="form-control-static">{{i.name}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" >Image:</label>
            <div class="col-xs-3">
                <a href="#" class="thumbnail">
                    <img src="{{url_for('static' , filename=i.image_name)}}" alt="125x125">
                </a>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" >Description:</label>
            <div class="col-xs-9">
                <p class="form-control-static">{{i.description}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" >Price:</label>
            <div class="col-xs-9">
                <p class="form-control-static">{{i.price}}</p>
            </div>
        </div>
    </div>
        </form>
    </div>
</div>
</div>
</div>
    {% endfor %}
 <script type="text/javascript">

         // Set up the library
         authomatic.setup({
            popupWidth: 600,
            popupHeight: 500,
            onLoginComplete: function(result) {
               // Handle the login result when the popup closes.
               if (result.user) {
                  alert('Hello ' + result.user.name);
               } else if (result.error) {
                  alert('Error occurred: ' + result.error.message);
               }
            }
         });

         // Change behavior of links and form of class="authomatic"
         authomatic.popupInit();

      </script>
{% endblock %}
