<html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<h1> New Item For Sale</h1>

<form action="{{url_for('newSaleItem', user_id=user_id )}}" method = 'POST' enctype=multipart/form-data>

<p>Upload image:</p>

    <p><input type=file name=file>

<dt>Name:</dt>

<input type='text' size='30' name='name'>

<dt>Description:</dt>
	<dd><textarea name = 'description' rows='5' cols='40' placeholder = 'description'></textarea></dd>
<dt>Price:</dt>
	<dd><input type = 'text' size = '8' name='price' placeholder = 'price'></dd>

<input type='submit' value='Create'>

</form>

</body>
</html>