{# sellers_page.html #}
{% extends "base.html" %}
{% block body %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


</div>
<div class="bs-example">
    <h2>Admin page for : {{ user.name }}</h2>

    <p><a href="{{url_for('newSaleItem', user_id = user.id) }}" target="_blank" class="btn btn-success">Add new item &raquo;</a></p>

    <!-- Items list -->
    {% for i in items %}
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-3">Name:</label>
            <div class="col-xs-9">
                <p class="form-control-static">{{i.name}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" >Image:</label>
            <div class="col-xs-3">
                <a href="#" class="thumbnail">
                    <img src="{{url_for('static' , filename=i.image_name)}}" alt="125x125">
                </a>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" >Description:</label>
            <div class="col-xs-9">
                <p class="form-control-static">{{i.description}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-3" >Price:</label>
            <div class="col-xs-9">
                <p class="form-control-static">{{i.price}}</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <p><a href="{{url_for('deleteItem', user_id = i.user_id, item_id=i.id)}}" target="_blank" class="btn btn-danger">Delete item &raquo;</a>
                <a href="{{url_for('editItem',user_id = i.user_id, item_id=i.id)}}" target="_blank" class="btn btn-success">Edit thi item &raquo;</a></p>
            </div>
        </div>
    </form>
    {% endfor %}
</div>
</div>
</div>
 <script type="text/javascript">

         // Set up the library
         authomatic.setup({
            popupWidth: 600,
            popupHeight: 500,
            onLoginComplete: function(result) {
               // Handle the login result when the popup closes.
               if (result.user) {
                  alert('Hello ' + result.user.name);
               } else if (result.error) {
                  alert('Error occurred: ' + result.error.message);
               }
            }
         });

         // Change behavior of links and form of class="authomatic"
         authomatic.popupInit();

      </script>
{% endblock %}

</html>